<%-include('../partials/head.ejs')%>

<body>

    <%-include('../partials/nav.ejs')%>

    <main>
        <div class="container">
            <img class="about-img" src="images/35web.jpg" alt="host-image">
            <div class="about-section">
                <h1>Welcome to the Gunn Show</h1>
                <h2>I am Laura Gunn, this is my show.</h2>
                <p>
                    On my show, I cover topics that I believe are not getting enough attention. Art, politics, and
                    science are woven into our daily lives. If you have found yourself listening, it’s because nobody is
                    framing my topics in the same way.
                </p>
                <p>
                    <strong>Who do I think I am?</strong>I am a parent, a scout leader, a wife. I have been a wife since
                    1997, I have been a parent since
                    2005 and a scout leader since 2006.
                </p>
                <p>
                    <strong>What do I do?</strong> I make podcasts and take care of my elderly, mostly dead dogs.
                    Laundry and dishes,
                    lots of those too.
                </p>
                <p>
                    <strong>On the Topic of Art:</strong> I have a Bachelor of Arts from The Ohio State University. I
                    fancy myself an
                    artist. Always creating something. My goal is to promote the work of other artists. I will only
                    share art that I like.
                </p>
                <p>
                    <strong>On the Topic of Politics:</strong> I ran for the Texas House of Representatives as a
                    Democrat and lost. My
                    platform was about the legalization of Pot. Yes, Pot because that’s what I call it. Can you imagine
                    the scandal I caused inside the Texas Democratic Party? And here we are 2022, with the rest of ya’ll
                    catching up to me. Do I smoke weed? NO! But I am not going to tell you not to. I won’t indulge in
                    anything that makes me eat. I don’t drink much anymore because of the same reason.
                </p>
                <p>
                    <strong>On the Topic of Science:</strong> Just Because!
                </p>
            </div>
        </div>
    </main>
    <%-include('../partials/footer.ejs')%>
</body>

</html>