<%-include('../partials/head.ejs')%>

<body>
    <%-include('../partials/nav.ejs')%>
    <main>
        <div class="container">
            <div class="guest">
                <img class="guest-img" src="../../images/man.png" alt="man">
                <div class="guest-info">
                    <h2>Evolution</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore illum architecto hic
                        consequatur numquam nobis voluptate, neque libero iste ipsam mollitia sequi eum accusamus
                        pariatur placeat doloribus quasi quibusdam. Sapiente nesciunt beatae consequuntur voluptatum
                        doloribus praesentium illo voluptate eveniet ratione placeat earum, quisquam ea reiciendis
                        aliquid explicabo dignissimos modi numquam?</p>
                </div>
            </div>
            <div class="guest">
                <img class="guest-ing" src="../../images/muse.png" alt="man">
                <div class="guest-info">
                    <h2>Vasilios Birlidis</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ex dignissimos voluptas dolores
                        architecto perferendis ea iure esse? Optio necessitatibus reiciendis blanditiis cumque
                        voluptate, amet provident exercitationem facere saepe totam, quidem neque odit dolores, autem
                        similique excepturi tempora? Velit temporibus veniam ipsa ex sunt aperiam soluta accusantium
                        delectus quo sed?</p>
                </div>
            </div>
        </div>
    </main>
    <%-include('../partials/footer.ejs')%>
</body>

</html>