<%-include('../partials/head.ejs')%>

<body>

    <%-include('../partials/nav.ejs')%>

    <main class="home">
        <div class="container">
            <img class="home-img" src="../images/Gunn.jpg" alt="host-image">
        </div>
    </main>
    <%-include('../partials/footer.ejs')%>
</body>

</html>